<p-dialog modal="true" header="Create C_Account" [(visible)]="displayCreateAccountDialog">
  <div class="p-grid" style="margin-top: 1rem">
   <input type="text" pInputText placeholder="Name" [(ngModel)]="newAccountName" class="p-col-12">
    <button type="button" pButton autofocus label="Create" (click)="createAccount()" class="p-col-12" style="margin-top: 1rem"></button>
  </div>
</p-dialog>

<p-toolbar>
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back"  (click)="navigateBack()"></button>
  <div class="p-toolbar-group-right">
    <p-button label="Create C_Account" icon="pi pi-plus" iconPos="left" (click)="showCreateAccountDialog()"></p-button>
  </div>
</p-toolbar>

<div class="p-grid" style="margin-top: 1rem">
<p-card class="p-col-12 p-md-4 p-lg-3" *ngFor="let account of accounts" (click)="navigateAccount(account.id)">
  <b>C_Account</b> <br>
  {{account.name}}
</p-card>
</div>


