<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Close"
            (click)="navigateHome()"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<p>Send us your Feedback to improve the application! </p>

<div>

  <div>
    <textarea [rows]="10" [cols]="40" pInputTextarea autoResize="autoResize" [(ngModel)]="feedback"></textarea>
  </div>

  <div>
    <label> {{message}} </label>
  </div>

  <div>
    <button pButton type="button" pRipple class="p-button p-mr-2" label="Send Feedback" (click)="send()"></button>
  </div>

</div>
