<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button p-mr-2" label="Save" (click)="createUser()"></button>
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Close"
            (click)="navigateUsersTable()"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<!-- UserForm -->
<div class="p-grid" style="margin-top: 2rem">

  <!--  Picture Placeholder -->
  <div class="p-col-12 p-sm-6 p-lg-6">
    <div class="p-grid">
      <div class="p-col-6 p-offset-4">
        <i class="pi pi-user" style="font-size: 8rem"></i>
      </div>
    </div>
  </div>
  <!-- Firstname Field -->
  <div class="p-col-12 p-sm-6 p-lg-6">
    <div class="p-col-12">
      <span>
        <label class="p-col-3">Username</label>
        <input class="p-col-10" type="text" pInputText [(ngModel)]="username">
      </span>
    </div>
    <div class="p-col-12">
      <span>
        <label class="p-col-3">First name</label>
        <input class="p-col-10" type="text" pInputText [(ngModel)]="firstname">
      </span>
    </div>
    <div class="p-col-12">
      <span>
        <label class="p-col-3">Last name</label>
        <input class="p-col-10" type="text" pInputText [(ngModel)]="lastname">
      </span>
    </div>
    <div class="p-col-12">
      <span>
        <label class="p-col-3">Password</label>
        <input class="p-col-10" type="text" pInputText [(ngModel)]="password">
      </span>
    </div>
  </div>
</div>


  <!--TabView -->
  <p-tabView>
    <p-tabPanel header="Address">
      Placeholder Address
    </p-tabPanel>
    <p-tabPanel header="Other Information">
      Placeholder Other Information
    </p-tabPanel>
  </p-tabView>

