<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button p-mr-2" label="Save" (click)="navigateHome()"></button>
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Close"  (click)="navigateHome()"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<p>Hi {{username}}, here you can edit your profile and other settings.</p>
