<p-toolbar>
  <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back"  (click)="navigateBack()"></button>
  <div class="p-toolbar-group-right">
    <p-button label="Create C_Block" icon="pi pi-plus" iconPos="left" (click)="toggleCreateBlockDialog()"></p-button>
  </div>
</p-toolbar>

<!-- Payload Dialog -->

<p-dialog modal="true" header="Payload" [(visible)]="displayPayloadDialog" maximized="true">
  <div class="p-grid" style="margin-top: 1rem">
    <textarea pInputTextarea [(ngModel)]="selectedPayload" disabled="true" [style]="{width: '90vw', height: '90vw'}"></textarea>
  </div>
</p-dialog>

<!-- Create Block Dialog -->

<p-dialog modal="true" header="Create C_Block" [(visible)]="displayCreateBlocksDialog">
  <div class="p-grid" style="margin-top: 1rem">

    <span class="p-col-12"> Sender <br>
      <input type="text" pInputText placeholder="{{getAccountName()}}" class="p-col-12" readonly>
    </span>

    <span class="p-col-12"> Receiver <br>
      <p-dropdown [options]="cAccounts" [(ngModel)]="receiver"
                  optionLabel="name"
                  selectionLimit="1" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </span>

    <span class="p-col-12"> Payload <br>
      <input type="text" pInputText placeholder="Payload" class="p-col-12" #payload>
    </span>

    <span class="p-col-12"> Type <br>
      <input type="number" pInputText placeholder="Type" class="p-col-6" [defaultValue]="30" [min]="30" [max]="2147483647" #type>
    </span>

    <span class="p-col-6"> Encrypted <br>
      <p-inputSwitch>Encrypted</p-inputSwitch>
    </span>

    <button type="button" pButton autofocus label="Create" (click)="createBlock(payload.value, type.valueAsNumber)" class="p-col-12" style="margin-top: 1rem"></button>
  </div>
</p-dialog>

<!-- Blocks-->

<div class="p-grid" style="margin-top: 1rem">
  <p-card class="p-col-12 p-md-12 p-lg-12" *ngFor="let block of blocks">
    <b>C_Block (Sender: {{getNameFromPublicKey(block.cryptIDSender.publicKey)}}, Recipient: {{getNameFromPublicKey(block.cryptIDRecipient.publicKey)}})</b> <br>

    <div class="p-grid">
    <span class="p-col-12 p-md-4 p-lg-3"> ChainID
      <input type="text" pInputText readonly placeholder="{{block.chainID}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> BlockID
      <input type="text" pInputText readonly placeholder="{{block.blockID}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> Type
      <input type="text" pInputText readonly placeholder="{{block.type}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> PredecessorID
      <input type="text" pInputText readonly placeholder="{{block.predecessorID}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> PredecessorSignedHashCCM
      <input type="text" pInputText readonly placeholder="{{block.predecessorSignedHashCCM}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> Algorithm
      <input type="text" pInputText readonly placeholder="{{block.algorithm}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> InitialisationVector
      <input type="text" pInputText readonly placeholder="{{block.initialisationVector}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> SymmetricKeySender
      <input type="text" pInputText readonly placeholder="{{block.symmetricKeySender}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> SymmetricKeySender
      <input type="text" pInputText readonly placeholder="{{block.symmetricKeyRecipient}}">
    </span>

      <span class="p-col-12 p-md-12 p-lg-9"> Payload
      <input type="text" pInputText readonly placeholder="{{decodeBase64(block.payload)}}">
    </span>

      <span class="p-col-3"> Show Crypto <br>
      <p-inputSwitch #crypto></p-inputSwitch>
    </span>

      <div class="p-col-3">
        <button pButton type="button" pRipple class="p-button" label="Show Payload"  (click)="togglePayloadDialog(decodeBase64(block.payload))"></button>
      </div>

      <div class="p-grid" *ngIf="crypto.checked">

<!--      CryptIdSender-->
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDSender.PublicKey
      <input type="text" pInputText readonly placeholder="{{block.cryptIDSender.publicKey}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDSender.Algorithm
      <input type="text" pInputText readonly placeholder="{{block.cryptIDSender.algorithm}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDSender.Signature
      <input type="text" pInputText readonly placeholder="{{block.cryptIDSender.cipherText}}">
    </span>

      <!--      CryptIDRecipient-->
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDRecipient.PublicKey
      <input type="text" pInputText readonly placeholder="{{block.cryptIDRecipient.publicKey}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDRecipient.Algorithm
      <input type="text" pInputText readonly placeholder="{{block.cryptIDRecipient.algorithm}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> CryptIDRecipient.Signature
      <input type="text" pInputText readonly placeholder="{{block.cryptIDRecipient.cipherText}}">
    </span>

      <!--      SignedHashSender-->
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashSender.PublicKey
      <input type="text" pInputText readonly placeholder="{{block.signedHashSender.publicKey}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashSender.Algorithm
      <input type="text" pInputText readonly placeholder="{{block.signedHashSender.algorithm}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashSender.Signature
      <input type="text" pInputText readonly placeholder="{{block.signedHashSender.cipherText}}">
    </span>

      <!--      SignedHashCCM-->
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashCCM.PublicKey
      <input type="text" pInputText readonly placeholder="{{block.signedHashCCM.publicKey}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashCCM.Algorithm
      <input type="text" pInputText readonly placeholder="{{block.signedHashCCM.algorithm}}">
    </span>
      <span class="p-col-4 p-md-4 p-lg-4"> SignedHashCCM.Signature
      <input type="text" pInputText readonly placeholder="{{block.signedHashCCM.cipherText}}">
    </span>

      </div>

    </div>
  </p-card>
</div>
