<div class="p-grid">
<p-card style="margin-top: 2rem" *ngFor="let tenat of tenants; let i = index" [attr.data-index]="i" class="p-lg-8 p-lg-offset-2">

  <ng-template pTemplate="title">
    Bewohner
  </ng-template>
  <ng-template pTemplate="subtitle">
    {{i + 1 }}.Bewohner
  </ng-template>

  <div class="p-grid">

    <div class="p-col-4">
      <label for="username1">Vorname</label>
      <input id="username1" type="username" pInputText [(ngModel)]="tenants[i].firstName"/>
    </div>

    <div class="p-col-4">
      <label for="username2">Nachname</label>
      <input id="username2" type="username" pInputText [(ngModel)]="tenants[i].lastName" />
    </div>

    <div class="p-col-4">
      <span>Geburtsdatum</span>
      <p-inputMask mask="99/99/9999" placeholder="99/99/9999" slotChar="mm/dd/yyyy" [(ngModel)]="tenants[i].birthDate"></p-inputMask>
    </div>

    <div class="p-col-4">
      <label for="placeOfBirth">Geburtsort</label>
      <input id="placeOfBirth" type="text" pInputText [(ngModel)]="tenants[i].birthPlace" />
    </div>

    <div class="p-col-4">
      <span>Telefon</span>
      <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" [(ngModel)]="tenants[i].phoneNumber"></p-inputMask>
    </div>

    <div class="p-col-4">
      <span>Mobil</span>
      <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" [(ngModel)]="tenants[i].mobile"></p-inputMask>
    </div>

    <div class="p-col-4">
      <label for="mail">E-Mail</label>
      <input id="mail" type="text" pInputText placeholder="mail@host.de" [(ngModel)]="tenants[i].mail" />
    </div>

    <div class="p-col-4">
      <span>Einzugsdatum</span>
      <p-inputMask mask="99/99/9999" placeholder="99/99/9999" slotChar="mm/dd/yyyy" [(ngModel)]="tenants[i].moveInDate"></p-inputMask>
    </div>

    <div class="p-col-4">
      <span>Auszugsdatum</span>
      <p-inputMask mask="99/99/9999" placeholder="99/99/9999" slotChar="mm/dd/yyyy" [(ngModel)]="tenants[i].moveOutDate"></p-inputMask>
    </div>

  </div>

  <div class="p-grid" style="margin-top: 1rem">
    <b>Benutzerkonto für Bewohner anlegen</b>
    <p-inputSwitch [(ngModel)]="creatTenatAccount" class="p-col-12"></p-inputSwitch>
    <div class="p-grid p-col-12" *ngIf="creatTenatAccount">
      <div class="p-col-">
        <label for="accountName">Benutzername</label>
        <input id="accountName" type="username" pInputText />
      </div>
      <label class="p-col-12">Hinweis: Zugangsdaten werden per E-Mail versendet.</label>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-end">
      <button pButton (click)="removeTenant(i)" label="Bewohner entfernen" icon="pi pi-minus" iconPos="right" *ngIf="i +1 !== 1" class="p-button-outlined" style="margin-right: 1rem"></button>
      <button pButton (click)="addTenant()" label="Weiteren Bewohner erfassen" icon="pi pi-plus" iconPos="right" *ngIf="i +1 === tenants.length" class="p-button-outlined" style="margin-right: 1rem"></button>
      <p-button label="Weiter" (onClick)="nextStep()" icon="pi pi-angle-right" iconPos="right" *ngIf="i +1 === tenants.length"></p-button>
    </div>
  </ng-template>

</p-card>
</div>
