<p-toolbar>
  <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateBack()"></button>
  <div class="p-toolbar-group-right">
    <p-button label="Create Permission" icon="pi pi-plus" iconPos="left" (click)="triggerPermissionDialog()"></p-button>
  </div>
</p-toolbar>

<!-- Create Permission Dialog -->

<p-dialog modal="true" header="Create Permission" [(visible)]="showCreatPermissionDialog">
  <div class="p-grid" style="margin-top: 1rem">

    <span class="p-col-12"> Receiver <br>
      <p-dropdown [options]="cAccounts"
                  optionLabel="name" #dropdownReceiver
                  selectionLimit="1" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </span>

    <span class="p-col-6"> Read Permission <br>
      <p-inputSwitch #readPermission ></p-inputSwitch>
    </span>

    <span class="p-col-6"> Write Permission <br>
      <p-inputSwitch #writePermission ></p-inputSwitch>
    </span>

    <button type="button" pButton autofocus label="Create" (click)="creatAclPopup(readPermission.checked, writePermission.checked, false, dropdownReceiver.selectedOption.value)" class="p-col-12" style="margin-top: 1rem"></button>
  </div>
</p-dialog>


<div class="p-grid" style="margin-top: 1rem">
  <p-card class="p-col-12 p-md-6 p-lg-4" *ngFor="let acl of acls">
    <div class="p-grid">
    <span class="p-col-12">
      <b>Permission</b> ({{getNameFromPublicKey(acl.publicKey)}})<br>
    </span>

    <span class="p-col-12 p-md-6 p-lg-6"> Write Permission <br>
      <p-inputSwitch [(ngModel)]="acl.write" #writePermissionCard ></p-inputSwitch>
    </span>

    <span class="p-col-12 p-md-6 p-lg-6"> Read Permission <br>
      <p-inputSwitch [(ngModel)]="acl.read" #readPermissionCard ></p-inputSwitch>
    </span>

      <div class="p-col-12 p-md-6 p-lg-6">
      <button pButton type="button" pRipple class="p-button" style="width: 100%" label="Update"
              (click)="createAcl(readPermissionCard.checked, writePermissionCard.checked, false, acl.publicKey)"></button>
      </div>

      <div class="p-col-12 p-md-6 p-lg-6">
        <button pButton type="button" pRipple class="p-button-outlined" label="Delete" style="width: 100%"
                (click)="createAcl(readPermissionCard.checked, writePermissionCard.checked, true, acl.publicKey)"></button>
      </div>
    </div>
  </p-card>
</div>
