<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateBack()"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<p-steps [model]="items"></p-steps>
<router-outlet></router-outlet>


