<p-toolbar>
  <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateBack()"></button>
  <div class="p-toolbar-group-right">
    <p-dropdown (onChange)="reloadChains()" [options]="allAccounts" [(ngModel)]="filterUser"
                optionLabel="name" style="margin-right: 1rem"
                selectionLimit="1" ></p-dropdown>
    <p-button label="Create C_Chain" icon="pi pi-plus" iconPos="left" (click)="triggerShowCreateChain()"></p-button>
  </div>
</p-toolbar>

<!-- Create Chain Dialog -->

<p-dialog modal="true" header="Create C_Chain" [(visible)]="displayCreateChainDialog">
  <div class="p-grid" style="margin-top: 1rem">

    <span class="p-col-12"> Chain Name <br>
      <input type="text" #chainName pInputText placeholder="Chain Name" class="p-col-12" #payload>
    </span>

    <span class="p-col-12"> Description <br>
      <input type="text" #description pInputText placeholder="Description" class="p-col-12" #payload>
    </span>


    <span class="p-col-6"> Use default name and description <br>
      <p-inputSwitch #default></p-inputSwitch>
    </span>

    <button type="button" pButton autofocus label="Create" (click)="createChain(chainName.value, description.value, default.checked)" class="p-col-12" style="margin-top: 1rem"></button>
  </div>
</p-dialog>

<!-- Update Chain Dialog -->

<p-dialog modal="true" header="Update C_Chain" [(visible)]="displayUpdateChainDialog">
  <div class="p-grid" style="margin-top: 1rem">

    <span class="p-col-12"> Chain Name <br>
      <input type="text"  pInputText [(ngModel)]="selectedUpdateChain.name" class="p-col-12" #payload>
    </span>

    <span class="p-col-12"> Description <br>
      <input type="text"  pInputText [(ngModel)]="selectedUpdateChain.description" class="p-col-12" #payload>
    </span>

    <span class="p-col-4"> Closed <br>
      <p-inputSwitch  [(ngModel)]="selectedUpdateChain.closed"></p-inputSwitch>
    </span>

    <span class="p-col-4"> Public Read <br>
      <p-inputSwitch  [(ngModel)]="selectedUpdateChain.publicRead"></p-inputSwitch>
    </span>

    <span class="p-col-4"> Public Write <br>
      <p-inputSwitch  [(ngModel)]="selectedUpdateChain.publicWrite"></p-inputSwitch>
    </span>


    <!--    updateChain(chain.ID, chain.name, chain.description, chain.closed, chain.publicRead, chain.publicWrite)-->
    <button type="button" pButton autofocus label="Update" (click)="updateChain(selectedUpdateChain.ID, selectedUpdateChain.name, selectedUpdateChain.description, selectedUpdateChain.closed, selectedUpdateChain.publicRead, selectedUpdateChain.publicWrite)" class="p-col-12" style="margin-top: 1rem"></button>
  </div>
</p-dialog>


<div class="p-grid" style="margin-top: 1rem">
  <p-card class="p-col-12 p-md-12 p-lg-12" *ngFor="let chain of chains">
    <b>C_Chain (Owner: {{getNameFromPublicKey(chain.cryptIDOwner.publicKey)}})</b> <br>

    <div class="p-grid">
    <span class="p-col-12 p-md-4 p-lg-3"> ChainName
      <input type="text" pInputText readonly [(ngModel)]="chain.name">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> Description
      <input type="text" pInputText readonly [(ngModel)]="chain.description">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> ChainID
      <input type="text" pInputText readonly placeholder="{{chain.ID}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> BlockID
      <input type="text" pInputText readonly placeholder="{{chain.blockID}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> Created
      <input type="text" pInputText readonly placeholder="{{formatDate(chain.created)}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-3"> Modified
      <input type="text" pInputText readonly placeholder="{{formatDate(chain.modified)}}">
    </span>

      <span class="p-col-4 p-md-4 p-lg-2"> Closed <br>
      <p-inputSwitch [(ngModel)]="chain.closed" [disabled]="true"></p-inputSwitch>
    </span>

      <span class="p-col-4 p-md-4 p-lg-2"> PublicRead <br>
      <p-inputSwitch [(ngModel)]="chain.publicRead" [disabled]="true"></p-inputSwitch>
    </span>

      <span class="p-col-4 p-md-4 p-lg-2"> PublicWrite <br>
      <p-inputSwitch [(ngModel)]="chain.publicWrite" [disabled]="true"></p-inputSwitch>
    </span>

      <span class="p-col-12 p-md-4 p-lg-4"> CryptIdOwner.PublicKey
      <input type="text" pInputText readonly placeholder="{{chain.cryptIDOwner.publicKey}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-4"> CryptIdOwner.Algorithm
      <input type="text" pInputText readonly placeholder="{{chain.cryptIDOwner.algorithm}}">
    </span>

      <span class="p-col-12 p-md-4 p-lg-4"> CryptIdOwner.Signature
      <input type="text" pInputText readonly placeholder="{{chain.cryptIDOwner.cipherText}}">
    </span>


      <div class="p-col-12 p-md-4 p-lg-4">
      <button pButton type="button" pRipple class="p-button" label="Update C_Chain" style="width: 100%"
              (click)="triggerShowUpdateChain(chain)"></button>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4">
        <button pButton type="button" style="width: 100%" pRipple class="p-button" label="Show C_Blocks" (click)="navigateBlocks(chain.ID)"></button>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4">
        <button pButton type="button" style="width: 100%" pRipple class="p-button" label="Permissions" (click)="navigatePermissions(chain.ID)"></button>
      </div>
    </div>
  </p-card>
</div>
