<!-- Tickets Table -->
<p-table [columns]="cols" [value]="tickets" styleClass="p-datatable-responsive-demo"
         selectionMode="single" [(selection)]="selectedTicket" [scrollable]="true" scrollHeight="400px">
  <!--Caption-->
  <ng-template pTemplate="caption">
<!--    <div class="p-grid">-->
      <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="" icon="pi pi-angle-up" (click)="navigateBack()"></button>
      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Neues Ticket" icon="pi pi-plus"></button>
      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Details" icon="pi pi-cog" [disabled]="!selectedTicket" (click)="viewTicket()"></button>
<!--      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Delete" icon="pi pi-trash" (click)="deleteUser()" [disabled]="!selectedUser"></button>-->
      <button class="p-button-text" (click)="triggerSearchBox()" label="Suche" pButton type="button" icon="pi pi-search" iconPos="left"></button>

  </ng-template>
  <!-- Header -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Ticket Nummer</th>
      <th>Name</th>
      <th>Wohneinheit</th>
      <th>Erstelldatum</th>
      <th>Status</th>
      <th>Bearbeiter</th>
      <th>Rolle Bearbeiter</th>
      <th>Ersteller</th>
      <th>Priorität</th>
      <th>Kategorie</th>
    </tr>
  </ng-template>
  <!--  Body -->
  <ng-template pTemplate="body" let-ticket let-rowIndex="rowIndex">
    <tr [pSelectableRow]="ticket" [pSelectableRowIndex]="rowIndex">
      <td>{{ticket.ticketNumber}}</td>
      <td>{{ticket.name}}</td>
      <td>{{ticket.livingUnit.displayName}}</td>
      <td>{{ticket.dateCreated}}</td>
      <td>{{ticket.status.displayName}}</td>
      <td>{{ticket.editor.displayName}}</td>
      <td>{{ticket.editor.role}}</td>
      <td>{{ticket.creator.displayName}}</td>
      <td>{{ticket.priority.displayName}}</td>
      <td>{{categoryString(ticket.category)}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>


<p-sidebar [style]="{height:'22em'}" [(visible)]="displaySearchBox" position="bottom" [modal]="false">
  <div class="p-grid">
    <h2 class="p-col-12">
      Suche
      <hr size="2" width="100%" color="#ACACAC">
    </h2>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>Ticket Nummer</span>
      <input type="text" pInputText [(ngModel)]="searchParams.ticketNumber"/>
    </div>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>Name</span>
      <input type="text" pInputText [(ngModel)]="searchParams.name"/>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Status</span>
      <p-dropdown [options]="availableStatus"
                  [(ngModel)]="selectedSearchStatus"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Status"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Bearbeiter</span>
      <p-dropdown [options]="availableUser"
                  [(ngModel)]="selectedSearchEditor"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Bearbeiter"
                  [filter]="true"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Ersteller</span>
      <p-dropdown [options]="availableUser"
                  [(ngModel)]="selectedSearchCreator"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Ersteller"
                  [filter]="true"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Priorität</span>
      <p-dropdown [options]="availablePriority"
                  [(ngModel)]="selectedSearchPriority"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Priorität"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Kategorie</span>
      <p-dropdown [options]="availableCategory"
                  [(ngModel)]="selectedSearchCategory"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Kategorie"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Wohneinheit</span>
      <p-dropdown [options]="availableLivingUnits"
                  [(ngModel)]="selectedLivingUnit"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Wohneinheit"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <span>Sichtbarkeit</span>
      <p-dropdown [options]="availableVisibility"
                  [(ngModel)]="selectedVisibility"
                  optionLabel="displayName"
                  autoWidth="false"
                  placeholder="Sichtbarkeit"
                  [showClear]="true"
                  [style]="{'width':'100%'}"></p-dropdown>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-12 p-md-3 p-lg-2">
      <p-button label="Suchen" class="p-button-sm" iconPos="left" (click)="searchTickets()" [style]="{'width':'100%'}"> </p-button>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <button pButton type="button" label="Zurücksetzen" class="p-button-outlined" (click)="resetSearch()" iconPos="left" [style]="{'width':'100%'}"> </button>
    </div>
  </div>

</p-sidebar>

