<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateBack()"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<div class="p-grid" style="margin-top: 2rem">


<!--  <p-card class="p-sm-12 p-md-6 p-lg-2 p-xl-2">-->
  <div class="p-sm-12 p-md-6 p-lg-2 p-xl-2 div-card">
    <div class="div-padding p-shadow-1">
    <h3>{{realEstate.name}}</h3>
    {{realEstate.address}} <br>
    {{realEstate.zipCode}}
    {{realEstate.city}} <br> <br>
    <button class="p-button-outlined" label="In Maps anzeigen" pButton type="button" icon="pi pi-map-marker"  iconPos="left" (click)="showInGoogleMaps()"></button>
<!--  </p-card>-->
    </div>
  </div>


<!--  <p-card class="p-sm-12 p-md-6 p-lg-4 p-xl-4">-->
    <div class="p-sm-12 p-md-12 p-lg-10 p-xl-10  div-card">
      <div class="div-padding p-shadow-1">
    <div class="p-grid">
      <p-table [value]="flats" [scrollable]="true" scrollHeight="100%" styleClass="p-datatable-sm" class="p-col-8" >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            Wohneinheiten
            <button pButton type="button" label="Alle anzeigen" icon="pi pi-home" class="p-button-text"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Mieter</th>
            <th>Größe</th>
            <th>Miete</th>
            <th>Kaution</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-flat>
          <tr>
            <td>{{flat.flat}}</td>
            <td>{{flat.tentant}}</td>
            <td>{{flat.size}}</td>
            <td>{{flat.rent}}</td>
            <td>{{flat.caution}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p-tabView class="p-col-4">
        <p-tabPanel header="Mietstatus">
          <p-chart type="doughnut" [data]="data" class="p-col-12" height="10rem" class="p-col-4" ></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Zahlungen">
          <p-chart type="doughnut" [data]="payments" class="p-col-12" height="10rem" class="p-col-4" ></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Einnahmen">
          <p-chart type="bar" [data]="incomes"></p-chart>
        </p-tabPanel>
      </p-tabView>
    </div>
      </div>
    </div>

<!--  </p-card>-->

  <div class="p-sm-12 p-md-12 p-lg-8 p-xl-8 div-card">
    <div class="div-padding p-shadow-1">
    <div class="p-grid">
      <p-table [value]="tickets" [scrollable]="true" scrollHeight="9rem" class="p-col-8" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            Incidents
            <button pButton type="button" (click)="goToIncidents()" label="Alle anzeigen" icon="pi pi-file-o" class="p-button-text"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Ticket Nummer</th>
            <th>Name</th>
<!--            <th>Erstelldatum</th>-->
            <th>Status</th>
            <th>Priorität</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
          <tr>
            <td>{{ticket.ticketNumber}}</td>
            <td>{{ticket.name}}</td>
<!--            <td>{{ticket.dateCreated}}</td>-->
            <td>{{ticket.status.displayName}}</td>
            <td>{{ticket.priority.displayName}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p-tabView class="p-col-4">
        <p-tabPanel header="Status">
          <p-chart type="doughnut" [data]="incidentGraphic" height="10rem"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Priorität">
          <p-chart type="doughnut" [data]="priorityGraphic" height="10rem"></p-chart>
        </p-tabPanel>
      </p-tabView>
    </div>
    </div>
  </div>

  <div class="p-sm-12 p-md-6 p-lg-4 p-xl-4 div-card">
    <div class="div-padding p-shadow-1">
    <p-table [value]="meetings" [scrollable]="true" scrollHeight="9rem" styleClass="p-datatable-sm">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Versammlungen
          <button pButton type="button" label="Kalender öffnen" icon="pi pi-calendar-times" class="p-button-text"></button>
          <button pButton type="button" label="Alle anzeigen" icon="pi pi-list" class="p-button-text"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Art</th>
          <th>Datum</th>
          <th>Dauer</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-meeting>
        <tr>
          <td>{{meeting.type}}</td>
          <td>{{meeting.date}}</td>
          <td>{{meeting.duration}}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>

<!--  <p-card class="p-sm-12 p-md-6 p-lg-6 p-xl-6">-->
    <div class="p-sm-12 p-md-6 p-lg-6 p-xl-6 div-card">
      <div class="div-padding p-shadow-1">
    <p-table [value]="users" [scrollable]="true" scrollHeight="100%" styleClass="p-datatable-sm" >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Bewohner
          <button pButton type="button" label="Alle anzeigen" icon="pi pi-users" class="p-button-text"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Wohnung</th>
          <th>Einzug</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.flat}}</td>
          <td>{{user.movedIn}}</td>
        </tr>
      </ng-template>
    </p-table>
      </div>
    </div>

  <div class="p-sm-12 p-md-6 p-lg-6 p-xl-6  div-card">
    <div class="div-padding p-shadow-1">
    <p-table [value]="functionaries" [scrollable]="true" scrollHeight="100%" styleClass="p-datatable-sm">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Funktionäre
          <button pButton type="button" label="Alle anzeigen" icon="pi pi-users" class="p-button-text"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Rolle</th>
          <th>Telefon</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.role}}</td>
          <td>{{user.phoneNumber}}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>


</div>
