:host {
  ::ng-deep .p-card {
    background-color: #fff;
    color: black;
    height: auto;
    min-height: 20rem;
    max-height: 20rem;
    margin-top: 1rem;
    border-radius: 0%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}

.div-card {
  border-radius: 0%;
  margin: 0px 0px 0px 0px;
  min-height: 15rem;
  padding: 10px;
}

.div-padding {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
