<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateHome()"></button>
    <button class="p-button-text" (click)="triggerSearchBox()" label="Suche" pButton type="button" icon="pi pi-search" iconPos="left"></button>
  </div>
  <div class="p-toolbar-group-right">
  </div>
</p-toolbar>

<div class="p-grid">

  <p-card *ngFor="let estate of realEstate" class="p-col-4" (click)="navigateRealEstate(estate.id)">
    <h3>{{estate.name}}</h3>
    {{estate.address}} <br>
    {{estate.zipCode}}
    {{estate.city}} <br> <br>
    Wohneinheiten: {{estate.numberOfRentFlats}} / {{estate.numberOfFlats}} <br>
    Gemeldete Personen: {{estate.numberOfTentants}}
  </p-card>

</div>


<p-sidebar [style]="{height:'20em'}" [(visible)]="displaySearchBox" position="bottom" [modal]="false">
  <div class="p-grid">
    <h2 class="p-col-12">
      Suche
      <hr size="2" width="100%" color="#ACACAC">
    </h2>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>Name</span>
      <input type="text" pInputText [(ngModel)]="searchParams.name"/>
    </div>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>Straße</span>
      <input type="text" pInputText [(ngModel)]="searchParams.address"/>
    </div>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>Stadt</span>
      <input type="text" pInputText [(ngModel)]="searchParams.city"/>
    </div>

    <div class="p-col-12 p-md-2 p-lg-2">
      <span>PLZ</span>
      <input type="number" pInputText [(ngModel)]="searchParams.zipCode"/>
    </div>

<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Status</span>-->
<!--      <p-dropdown [options]="availableStatus"-->
<!--                  [(ngModel)]="selectedSearchStatus"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Status"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->

<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Bearbeiter</span>-->
<!--      <p-dropdown [options]="availableUser"-->
<!--                  [(ngModel)]="selectedSearchEditor"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Bearbeiter"-->
<!--                  [filter]="true"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->

<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Ersteller</span>-->
<!--      <p-dropdown [options]="availableUser"-->
<!--                  [(ngModel)]="selectedSearchCreator"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Ersteller"-->
<!--                  [filter]="true"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->
<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Priorität</span>-->
<!--      <p-dropdown [options]="availablePriority"-->
<!--                  [(ngModel)]="selectedSearchPriority"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Priorität"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->

<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Kategorie</span>-->
<!--      <p-dropdown [options]="availableCategory"-->
<!--                  [(ngModel)]="selectedSearchCategory"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Kategorie"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->

<!--    <div class="p-col-12 p-md-3 p-lg-2">-->
<!--      <span>Wohneinheit</span>-->
<!--      <p-dropdown [options]="availableLivingUnits"-->
<!--                  [(ngModel)]="selectedLivingUnit"-->
<!--                  optionLabel="displayName"-->
<!--                  autoWidth="false"-->
<!--                  placeholder="Wohneinheit"-->
<!--                  [showClear]="true"-->
<!--                  [style]="{'width':'100%'}"></p-dropdown>-->
<!--    </div>-->
  </div>

  <div class="p-grid">
    <div class="p-col-12 p-md-3 p-lg-2">
      <p-button label="Suchen" class="p-button-sm" iconPos="left"  [style]="{'width':'100%'}"> </p-button>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2">
      <button pButton type="button" label="Zurücksetzen" class="p-button-outlined"  iconPos="left" [style]="{'width':'100%'}"> </button>
    </div>
  </div>

</p-sidebar>
