<!-- User Table -->
<p-table [columns]="cols" [value]="users" styleClass="p-datatable-responsive-demo"
selectionMode="single" [(selection)]="selectedUser" [scrollable]="true" scrollHeight="400px" >
  <!--Caption-->
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="" icon="pi pi-angle-up" (click)="navigateHome()"></button>
      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Create" icon="pi pi-user-plus" (click)="navigateUserForm()"></button>
      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Edit" icon="pi pi-cog" [disabled]="true"></button>
      <button pButton type="button" pRipple class="p-button-text p-mr-2" label="Delete" icon="pi pi-trash" (click)="deleteUser()" [disabled]="!selectedUser"></button>
    </div>
  </ng-template>
<!-- Header -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <!--  Body -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
