<div class="p-grid">
  <p-card class="p-lg-8 p-lg-offset-2">

    <ng-template pTemplate="title">
      Bankverbindung
    </ng-template>
    <ng-template pTemplate="subtitle">
      Bewohner
    </ng-template>



    <div class="p-grid">

        <div class="p-col-12">
          <label>Kontoinhaber</label>
          <p-dropdown [options]="tenants"
                      [(ngModel)]="bankAccount.accountOwner"
                      optionLabel="firstName" [filter]="true"
                      selectionLimit="1" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        </div>

        <div class="p-col-8">
          <span>IBAN</span>
          <p-inputMask mask="aa99 9999 9999 9999 9999 99" placeholder="DE00 0000 0000 0000 0000 00" [(ngModel)]="bankAccount.iban"></p-inputMask>
        </div>

        <div class="p-col-4">
          <span>BIC</span>
          <p-inputMask mask="aaaa aa a9 aaa" placeholder="ABCD DE D1 ABX" [ngModel]="bankAccount.bic"></p-inputMask>
        </div>
    </div>



    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Zurück" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Weiter" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>

  </p-card>
</div>
