<!-- Toolbar -->
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Back" (click)="navigateHome()"></button>
  </div>
<!--  <div class="p-toolbar-group-right">-->
<!--    <p-button clas="p-button-sm" label="Neuer Kommentar" icon="pi pi-plus" iconPos="left" (click)="createComment()"></p-button>-->
<!--  </div>-->
</p-toolbar>


<!-- Create Action Dialog -->

<p-dialog modal="true" header="Neuer Kommentar" [(visible)]="displayCreateActionDialog">
  <div style="margin-top: 1rem" [style]="{width: '90vw', height: '90vw'}">

    <div class="p-grid">

<!--      <textarea [rows]="10" [cols]="30" pInputTextarea [(ngModel)]="newAction.text"></textarea>-->
<!--      <button pButton type="button" pRipple class="p-button-outlined p-mr-2" label="Kommentar erstellen" (click)="createAction()"></button>-->
    </div>

  </div>
</p-dialog>

<!-- Content -->

<div class="p-col-10 p-offset-1">
<p-card>
  <h2>{{ticket.ticketNumber}} {{ticket.name}}</h2>



  <div class="p-grid">
    <div class="p-col-6">
      <span>Erstellungsdatum</span>
      <input type="text" pInputText [(ngModel)]="ticket.dateCreated" disabled="true"/>
    </div>

    <div class="p-col-6">
      <span>Ersteller</span>
      <input type="text" pInputText [(ngModel)]="ticket.creator.displayName" disabled="true"/>
    </div>

    <div class="p-col-6">
      <span>Status</span>
      <p-dropdown [options]="availableStatus" [(ngModel)]="ticket.status" (onChange)="updateTicket()" optionLabel="displayName" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-6">
      <span>Bearbeiter</span>
      <p-dropdown [options]="availableUser" [(ngModel)]="ticket.editor" (onChange)="updateTicket()" optionLabel="displayName" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-6">
      <span>Priorität</span>
      <p-dropdown [options]="availablePriority" [(ngModel)]="ticket.priority" (onChange)="updateTicket()" optionLabel="displayName" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-6">
      <span>Kategorie</span>
      <p-multiSelect [options]="availableCategory" [(ngModel)]="ticket.category" (onChange)="updateTicket()" optionLabel="displayName" autoWidth="false" [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="p-col-12">
      <span>Wohneinheit</span>
      <p-dropdown [options]="availableLivingUnits" [(ngModel)]="ticket.livingUnit" (onChange)="updateTicket()" optionLabel="displayName" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
    </div>

    <div class="p-col-2">
    <h4>
      Sichtbarkeit
    </h4>
    </div>

    <div class="p-col-2">
      <label>Hausverwaltung</label> <br>
      <p-inputSwitch></p-inputSwitch>
    </div>

    <div class="p-col-2">
      <label>Beirat</label> <br>
      <p-inputSwitch></p-inputSwitch>
    </div>

    <div class="p-col-2">
      <label>Eigentümer</label> <br>
      <p-inputSwitch></p-inputSwitch>
    </div>

    <div class="p-col-2">
      <label>Mieter</label> <br>
      <p-inputSwitch></p-inputSwitch>
    </div>

    <div class="p-col-2">
      <label>Handwerker</label> <br>
      <p-inputSwitch></p-inputSwitch>
    </div>


    <div class="p-col-12">
      <label> <b>Zusammenfassung</b>
      </label>
      <p-editor   [readonly]="!editText" *ngIf="editText" [(ngModel)]="ticketUpdate.description" [style]="{'height':'150px'}"></p-editor>
      <p-editor [(ngModel)]="ticketUpdate.description" *ngIf="!editText" readonly="true" [style]="{'height':'150px'}" (click)="editTextField()">
        <p-header></p-header>
      </p-editor>
<!--      <button class="p-button-text" *ngIf="!editText" (click)="editTextField()" pButton type="button" icon="pi pi-pencil" label="Bearbeiten" iconPos="left"></button>-->
    </div>


    <div class="p-col-12 p-md-3 p-lg-2" *ngIf="editText">
      <p-button label="Speichern" class="p-button-sm" iconPos="left" (click)="updateTicketDescription()" [style]="{'width':'100%'}"> </p-button>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2" *ngIf="editText">
      <button pButton type="button" label="Abbrechen" class="p-button-outlined" iconPos="left" (click)="cancelUpdateTicket()" [style]="{'width':'100%'}"> </button>
    </div>
  </div>

</p-card>

<h1> Diskussion </h1>

<p-card *ngFor="let comment of ticket.comments">

  <div class="p-grid">
    <p-avatar label="P" shape="circle"></p-avatar>
    <label><b>{{comment.author.displayName}}</b></label>

    <div class="p-col-12">
      <p-editor  *ngIf="editComment && updateComment.id === comment.id" [(ngModel)]="updateComment.text" [style]="{'height':'100px'}"></p-editor>
    </div>

    <div class="p-col-12">
      <p-editor [(ngModel)]="comment.text" *ngIf="!editComment || updateComment.id !== comment.id" readonly="true" [style]="{'height':'100px'}" (click)="triggerEditComment(comment.id, comment.text)">
        <p-header></p-header>
      </p-editor>
    </div>

<!--    <button class="p-button-text" label="Bearbeiten" *ngIf="!editComment" (click)="triggerEditComment(comment.id, comment.text)" pButton type="button" icon="pi pi-pencil" iconPos="left"></button>-->

    <div class="p-col-12 p-md-3 p-lg-2" *ngIf="editComment && updateComment.id === comment.id">
      <p-button label="Speichern" iconPos="left" (click)="triggerUpdateComment()" [style]="{'width':'100%'}"> </p-button>
    </div>

    <div class="p-col-12 p-md-3 p-lg-2" *ngIf="editComment && updateComment.id === comment.id">
      <button pButton type="button" label="Abbrechen" class="p-button-outlined p-mr-2" iconPos="left" (click)="cancelEditComment()" [style]="{'width':'100%'}"> </button>
    </div>

  </div>

</p-card>

  <div class="p-col-1 p-offset-5">
    <p-button clas="p-button-sm" label="Neuer Kommentar" icon="pi pi-plus" iconPos="left" (click)="createComment()"></p-button>
  </div>
</div>
