<div class="p-grid">

  <div class="p-lg-6 p-lg-offset-3
              p-cl-6 p-xl-offset-3
              p-md-8 p-md-offset-2
              p-sm-8 p-sm-offset-2
              p-col-12
  ">

    <div class="p-col-12 p-offset-1">
      <h1>Login</h1>
    </div>

    <div class="p-col-10 p-offset-1">
      <input type="text" placeholder="Username" style="width: 100%" pInputText [(ngModel)]="username">
    </div>


    <div class="p-col-10 p-offset-1">
      <input type="password" placeholder="Password" style="width: 100%" pPassword [(ngModel)]="password"/>
    </div>

    <div class="p-col-10 p-offset-1 p-text-left" style="color: crimson">
      <label> {{ message }}</label>
    </div>

    <div class="p-col-10 p-offset-1">
      <button pButton type="button" style="width: 100%" pRipple class="p-button p-mr-2" label="Sign in"
              (click)="login()"></button>
    </div>

    <div class="p-col-10 p-offset-1">
      <button pButton type="button" style="width: 100%" pRipple class="p-button-outlined p-mr-2" label="Discover C_Chain"
              (click)="navigateCGround()"></button>
    </div>
  </div>

</div>
