<p-dialog header="Info" [(visible)]="displayInfoDialog">
  Write down some application information here. <br> <br>
  Version 1.0 <br>
  Catena GmbH <br>
  Paul.Wieland@catena.software
</p-dialog>


<div class="p-grid">

  <p-card class="p-col-12 p-md-8 p-lg-4">
    <h2>Hello, {{username}}.</h2>
    {{currentDate}}

  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-2" sclass="nav-item nav-link-edit" (click)="navigateUsersTable()">
    <i class="pi pi-users" style="font-size: 2rem"></i>
    <h2>Benutzer</h2>
  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-4" (click)="navigateDocuments()">
    <i class="pi pi-home" style="font-size: 2rem"></i>
    <h2>Immobilien</h2>
  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="navigateTickets()">
    <i class="pi pi-file-o" style="font-size: 2rem"></i>
    <h2>Tickets</h2>
  </p-card>

  <p-card class="p-col-12 p-md-6 p-lg-4" (click)="navigateTickets()">
    <i class="pi pi-forward" style="font-size: 2rem"></i>
    <h2>Geschäftsvorfälle</h2>
  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="navigateSettings()">
    <i class="pi pi-cog" style="font-size: 2rem"></i>
    <h2>Einstellungen</h2>
  </p-card>

<!--  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="signOut()">-->
<!--    <i class="pi pi-sign-out" style="font-size: 2rem"></i>-->
<!--    <h2>Sign out</h2>-->
<!--  </p-card>-->

  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="navigateFeedback()">
    <i class="pi pi-star-o" style="font-size: 2rem"></i>
    <h2>Feedback</h2>
  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="showInfoDialog()">
    <i class="pi pi-info-circle" style="font-size: 2rem"></i>
    <h2>Info</h2>
  </p-card>

  <p-card class="p-col-12 p-md-4 p-lg-2" (click)="navigateCGround()">
    <i class="pi pi-palette" style="font-size: 2rem"></i>
    <h2>Prozess</h2>
  </p-card>

</div>
