:host {
  ::ng-deep .p-card {
    background-color: #1976d2;
    color:white;
    cursor: pointer;
    height: 10rem;
    border-radius: 3%;
  }
}

:host {
  ::ng-deep
  .p-inputtext {
    width: 100%;
  }
}
